{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <div class="box-login">
        <div class="logo">
            <img src="{% static 'images/Ren3.jpg' %}">
        </div>

        
        {% comment %} <form method="post" onsubmit="return checkForm()">
            {% csrf_token %}

            <div class="maincontainer">
                {{form.username}}
            </div>
            <div class="maincontainer">
                {{form.email}}
            </div>
            <div class="maincontainer">
                {{form.password1}}
            </div>
            <div class="maincontainer">
                {{form.password2}}
            </div>
            <div class="footcontainer">
                <button type="submit">SignUp</button>
            </div>
        </form> {% endcomment %}

        <form method="post" onsubmit="return checkForm()">
            {% csrf_token %}

            <div class="maincontainer">
                <a><input type="text" name="username" id="username" placeholder="Enter Username" aria-required="true">{{form.username}}</a>
            </div>
            <div class="maincontainer">
                <a><input type="email" name="email" id="mail" placeholder="Enter E-mail" aria-required="true" requiredvalue="">{{form.email}}</a>
            </div>
            <div class="maincontainer">
                <a><input type="password" name="password" id="pass" placeholder="Enter Password" aria-required="true"required oninput="check()" value="">{{form.password1}}</a>
            </div>
            <div class="maincontainer">
               <a><input type="password" name="cpassword" id="pass" placeholder="Enter Confirm Password" aria-required="true"required oninput="check()" value=""> {{form.password2}}</a>
            </div>
            <div class="set" id="set">
                <div id="count">Length : 0</div>
                <i id="see" onclick="see()" class="fa-regular fa-eye"></i>
            </div>
            <div id="check1" style="display:none;">
                <i class="fa-solid fa-check"></i><span>Length more than 5</span>
            </div>
            <div id="check2" style="display:none;">
                <i class="fa-solid fa-check"></i><span>Contains numerical character</span>
            </div>
            <div id="check3" style="display:none;">
                <i class="fa-solid fa-check"></i><span>Contains special character</span>
            </div>
            <div id="check4" style="display:none;">
                <i class="fa-solid fa-check"></i><span>Contains Capital letter</span>
            </div>
            <div id="check5" style="display:none;">
                <i class="fa-solid fa-check"></i><span>Shouldn't Contains Space</span>
            </div>
            <a href="#">Forget Password?</a>
            <div class="footcontainer">
                <button type="submit" id="Login" onclick="checkForm()">SignUp</button>
            </div>
        </form>

        <!-- <div class="maincontainer">
        <input type="text" name="username" id="username" placeholder="Enter Username" aria-required="true">
        <input type="email" name="email" id="mail" placeholder="Enter E-mail" aria-required="true">
        <input type="password" name="password" id="pass" placeholder="Enter Password" aria-required="true">
        <input type="password" name="cpassword" id="pass" placeholder="Enter Confirm Password" aria-required="true">
    </div> -->

        <!-- <div class="footcontainer">
            <button type="submit">SignUp</button>
        </div> -->
        {% if form.errors %}
        <div class="alert alert-danger">
            <strong>{{form.errors}}</strong>
        </div>
        {% endif %}

        <div class="line"><a href="login">
                <h3><b>Do you have an account?</b></h3>
            </a></div>
        <div class="headingcontainer">
            <button type="submit" style="background-color: rgb(0, 132, 255);"><i
                    class="fa-brands fa-twitter"></i></button>
            <button type="submit"><i class="fa-brands fa-google"></i></button>
            <button type="submit" style="background-color: rgb(251, 33, 168);"><i
                    class="fa-brands fa-instagram"></i></button>
        </div>

    </div>

</body>

</html>