/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    background-image: url(pexels-pixabay-235985.jpg);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    margin-left: 150px;
    
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    /* border-top: 30px solid black;
    border-left: 480px solid black;
    border-right: 480px solid black;
    border-bottom: 30px solid black; */
}

/* Heading styles */
h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    margin-top: 10px;
    /* margin-bottom: 10px; */
}

/* Heading container styles */
.headingcontainer {
    text-align: center;
    margin-bottom: 1.5rem;
}

.headingcontainer h3 {
    font-size: 1.2rem;
}

/* Button styles */
button {
    background-color: #4285f4;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    /* cursor: pointer; */
}

button:hover {
    background-color: #357ae8;
}

/* Main container styles */
.box-login{
    box-sizing: border-box;
    /* border: 1px solid black; */
    padding: 40px 50px;
    background-color: #fff;
    box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.right-text{
    display: flex;
    flex-wrap: wrap;
    margin-left: 400px;
    /* margin-bottom: ; */
}
.maincontainer {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Footer container styles */
.footcontainer {
    text-align: center;
}